
.container {
    width: 920px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;


    
}

.coloumn1{
    width: 300px;
    height: 800px;
    background-color: grey;
}

.coloumn2{
    width: 300px;
    height: 800px;
    background-color: grey;
}

.coloumn3{
    width: 300px;
    height: 800px;
    background-color: grey;
}